* {
  font-family: "Nunito", sans-serif;
}

:root {
  --black: #000000;
  --white: #ffffff;
  --fall-green: #43766c;
  --fall-white: #f8fae5;
  --fall-light-brown: #b19470;
  --fall-dark-brown: #76453b;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--fall-white);
}

#titleContainer {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

#landscape {
  width: calc(100% - 3rem);
  margin-left: 1.5rem;
  margin-bottom: 32px;
}

/* cards */

.card {
  width: calc(100% - 3rem);
  height: 64px;
  margin-left: 1.5rem;
  border-radius: 2rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 1s;
}

.card.flipped {
  transform: rotateY(180deg);
}

.cardFront {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.cardBack {
  transform: rotateY(180deg);
  display: none;
  justify-content: center;
  align-items: center;
}

h2 {
  margin: 0;
}

h2.fall {
  color: var(--fall-white);
}

.cardFront h2:last-child {
  margin-left: auto;
  margin-right: 1.5rem;
}

.card img {
  height: 2rem;
}
.card .iconContainer {
  margin-left: 1.5rem;
  width: 35px;
  display: flex;
  justify-content: center;
  margin-right: 0.5rem;
}

.card.fall {
  background-color: var(--fall-light-brown);
}

.spectrumContainer {
  width: 50%;
  height: 20px;
  display: flex;
  align-items: center;
  align-content: center;
}

.spectrumLine {
  width: 100%;
  height: 1rem;
  background: linear-gradient(to right, red, green);
  border-radius: 1rem;
  border: 1px solid black;
}

.spectrumMarker {
  position: relative;
  width: 2px;
  height: 2rem;
  background-color: black;
  top: -0.5rem;
}

/* Alerts */

#alertbox {
  height: 8rem;
  width: calc(100% - 3rem);
  margin-left: 1.5rem;
  border-radius: 2rem;
  border: 3px solid var(--fall-dark-brown);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
