* {
  font-family: "Nunito", sans-serif;
}

:root {
  --black: #000000;
  --white: #ffffff;
  --fall-green: #43766c;
  --fall-white: #f8fae5;
  --fall-light-brown: #b19470;
  --fall-dark-brown: #76453b;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--fall-white);
}

#titleContainer {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

#landscape {
  width: calc(100% - 3rem);
  margin-left: 1.5rem;
  margin-bottom: 32px;
  border-radius: 2rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* cards */

.titleAndIconContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0;
  margin-right: 1.5rem;
}

.card {
  width: calc(100% - 3rem);
  height: 64px;
  margin-left: 1.5rem;
  border-radius: 2rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 1s;
}

#outfitCard {
  overflow: hidden;
  transition: height 1s;
  display: block;
}

#outfitCard .cardFront {
  height: 64px;
  margin-bottom: 0.5rem;
}

#outfitCard.expanded {
  height: 300px;
}

#outfitCard .spectrumContainer {
  width: calc(100% - 3rem);
  margin-left: 1.5rem;
}

#outfitCard .spectrumLine {
  background: linear-gradient(
    to right,
    white 0%,
    white 18%,
    blue 22%,
    blue 38%,
    brown 42%,
    brown 58%,
    green 62%,
    green 78%,
    yellow 82%,
    yellow 100%
  );
}

.card.flipped {
  transform: rotateY(180deg);
}

.cardFront {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.cardBack {
  transform: rotateY(180deg);
  display: none;
  justify-content: center;
  align-items: center;
}

h2 {
  margin: 0;
}

h2.fall {
  color: var(--fall-white);
}

.cardFront h2:last-child {
  margin-left: auto;
  margin-right: 1.5rem;
}

.card img {
  height: 2rem;
}
.card .iconContainer {
  margin-left: 1.5rem;
  width: 35px;
  display: flex;
  justify-content: center;
  margin-right: 0.5rem;
}

.card.fall {
  background-color: var(--fall-light-brown);
}

.spectrumContainer {
  width: 50%;
  height: 20px;
  display: flex;
  align-items: center;
  align-content: center;
}

.spectrumLine {
  width: 100%;
  height: 1rem;
  background: linear-gradient(to right, red, green);
  border-radius: 1rem;
  border: 1px solid black;
}

.spectrumMarker {
  position: relative;
  width: 2px;
  height: 2rem;
  background-color: black;
  border-radius: 1rem;
  top: -0.5rem;
}

/* Alerts */

#alertbox {
  height: 8rem;
  width: calc(100% - 3rem);
  margin-left: 1.5rem;
  border-radius: 2rem;
  border: 3px solid var(--fall-dark-brown);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* For ipads */
@media only screen and (min-width: 500px) {
  #cardsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
  .card {
    width: 200px;
    height: 150px;
    margin-left: 0;
    margin-bottom: 1rem;
    margin-right: 0;
    margin-top: 1rem;
  }

  .iconContainer {
    margin: 0 !important;
  }
  .cardFront {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .titleAndIconContainer {
    margin: 0;
    margin-top: 1rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--fall-white);
  }
  .cardBack {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .fetchedData {
    margin: 0 !important;
  }
  .cardExpanded .spectrumContainer {
    margin-top: 2.8rem;
  }
}

/* For desktops */
@media only screen and (min-width: 800px) {
  #landscape {
    width: calc(100% - 3rem);
    height: 350px;
    object-fit: cover;
    overflow: hidden;
  }
}
